body {
    background: #0f172a;
    color: white;
    text-align: center;
    font-family: Arial;
    padding-top: 50px;
}

button {
    padding: 12px 20px;
    border: none;
    background: #38bdf8;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}
